/* Enter your custom styles here */

/*.mybackgroundcolor {
    background-color: #ff80c3;
}

.mybackgroundimage {
    background-image: url('../images/bckgrndimage.jpg');
}

.mylabel {
    color: red;
    font-weight: bold;
    font-size: 18pt;
    font-style: italic;
    font-family: sans serif;
}

.sapMInputBaseInner {
    color: white;
    background: green;
    border: 1px solid red;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    height: 2.5rem;
    padding: 0 0.75rem;
    border-radius: 50px;
}*/